[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
requests = "*"
bs4 = "*"
flask = "*"
ipykernel = "*"
lxml = "*"
pretty-html-table = "*"
dateparser = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
