{% extends 'layout.html' %}
{% block body%}
<div class="content my-3">
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header bg-dark">
                    <strong class="card-title text-light">資料解釋</strong>

                </div>
                <div class="card-body text-white bg-danger">
                    <p class="card-text text-light">
                        本資料提供四關鍵數據 【高/低價平均價格】 及 【完售數量比】 及 【打折數量比】 <br>
                        平均價格: {{product}} 產品在前/後 50名平均價格<br>
                        完售數量比: soldout 數量占產品數量比重 (%)<br>
                        打折數量比: onsale 數量占產品數量比重 (%)
                    </p>

                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12">
            <!-- <div class="card" style = "height:140vh"> -->
            <div class="card" >
                <div class="card-body">
 <!--                    <div class="col-lg-4 col-md-4">
                        <canvas id="polarChart"></canvas>
                    </div> -->
                    <!-- <div class="col-lg-12 col-md-12" style = "height:400px"> -->
                    <div class="col-lg-6 col-md-6" style = "height:230px">
                        <canvas id="price_high_laptop"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-6" style = "height:230px">
                        <canvas id="price_low_laptop"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-6" style = "height:230px">
                        <canvas id="stock_onsale_laptop"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-6" style = "height:230px">
                        <canvas id="stock_soldout_laptop"></canvas>
                    </div>


                </div>
            </div>
        </div> 
    </div>
</div>
<script src="assets/js/Bestbuy.js"></script>

{% endblock %}