{% extends 'layout.html' %}
{% block body%}
<div class="content my-3">
    <div class="row">

                    <!-- 'US','JP','IT','ES','CA','DE','GB','FR','BR','IN','TW','RS' -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">資料解釋</strong>

                            </div>
                            <div class="card-body text-white bg-danger">
                                <p class="card-text text-light">
                                    報告中的資料所反映的是各種地點的造訪人數 (或造訪時間長度) 與基準日相比的變化。基準日代表一週內每天的「正常」值。我們是以 2020 年 1 月 3 日到 2 月 6 日這 5 週間的資料算出中位數，並以此做為基準日。
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">Developed Country</strong>

                            </div>
                            <div class="card-body text-white">
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_US"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_CA"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_DE"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_JP"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">Europ Country</strong>

                            </div>
                            <div class="card-body text-white">
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_GB"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_IT"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_ES"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_FR"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">Emerging Market</strong>

                            </div>
                            <div class="card-body text-white">
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_BR"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_IN"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_TW"></canvas>
                                </div>
                                <div class="col-lg-6 col-md-6" style = "height:400px">
                                    <canvas id="google_RS"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div>  -->
    </div>
</div><!-- /#right-panel -->
<script src="assets/js/googlemobility.js"></script>
{% endblock %}