<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <title>Caythayliefe Domestic Equity Team</title> -->
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <!-- <link rel="shortcut icon" href="cathayicon.png"> -->

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">

    <!-- <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" /> -->
    <link rel="stylesheet" href="assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">

    <!-- JQuerry 所有的東西要 include -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="node_modules/chart.js/dist/chart.min.js"></script>
    <!-- <script src="vendors/chart.js/dist/Chart.bundle.min.js"></script> -->
    <script src="node_modules/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    
<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="nav navbar-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand" href="/" style=": blue;"><img src="images/cathay.png" alt="Logo" height="20" width="28">國泰人壽</a> -->
                <!-- <a class="navbar-brand" href="/"><img src="images/cathay.png" alt="Logo" height="20" width="28"></a> -->
                <a class="navbar-brand hidden" href="./"><img src="images/cathay.png" alt="Logo"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <!-- <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>手機銷售狀況 </a> -->
                    </li>
                    <h3 class="menu-title">研究員資料整理</h3><!-- /.menu-title -->


<!--                     <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>5G 手機/官網</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-search"></i><a href="/1H2020-page">1H2020</a></li>

                        </ul>
                    </li> -->

                    <li>
                        <a href="/Videocard-page"> <i class="menu-icon fa fa-area-chart"></i>Graphcard </a>
                    </li>
                    <li>
                        <a href="/Shipping-page"> <i class="menu-icon fa fa-area-chart"></i>Shipping </a>
                    </li>
                    <li>
                        <a href="/Marine-page"> <i class="menu-icon fa fa-area-chart"></i>Marine </a>
                    </li>
                    <li>
                        <a href="/Nike-page"> <i class="menu-icon fa fa-area-chart"></i>Nike </a>
                    </li>

                    <li>
                        <a href="/Bestbuy-page?product=Laptop"> <i class="menu-icon fa fa-area-chart"></i>Bestbuy </a>
                    </li>
                    <h3 class="menu-title">iPhone</h3><!-- /.menu-title -->

                    <li>
                        <a href="/delivery-message"> <i class="menu-icon fa fa-table"></i>APPLE相關特區 </a>
                    </li>
                    <h3 class="menu-title">其他資料</h3><!-- /.menu-title -->

                    <li>
                        <a href="/Intel_AMD_Marketshare-page"> <i class="menu-icon fa fa-table"></i>Intel/AMD MarketShare </a>
                    </li>
                    <h3 class="menu-title">Covid 專區</h3><!-- /.menu-title -->
                    <li>
                        <a href="/TomTom-page"> <i class="menu-icon fa fa-table"></i>TomTom Congestion</a>
                    </li>
                    <li>
                        <a href="/googlemobilitytrend-page"> <i class="menu-icon fa fa-table"></i>Google Mobility Trend</a>
                    </li>



                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <!-- /header -->
        <!-- Header-->

        <!-- <div class="breadcrumbs" style = "line-height:3;"> -->
            

            <header id="header" class="header">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                            <a class="btn-secondary btn-lg mb-1" href="data/zipfile/Videocard.zip" role="button">Graphicard Data</a>
                            <a class="btn-secondary btn-lg mb-1" href="data/zipfile/Shippingdata.zip" role="button">Shipping Data</a>
                            <a class="btn-secondary btn-lg mb-1" href="data/Sports/nike.csv" role="button">Nike Data</a>
                            <a class="btn-secondary btn-lg mb-1" href="data/zipfile/Bestbuy_laptop.zip" role="button">Best buy</a>
                        <!-- </div> -->
                        <!-- <div class="col-lg-1 col-md-1"> -->

                        <!-- </div> -->
<!--                         <div class="page-header float-left">
                            <div class="page-title" style = "position:relative; top:9px;">
                                <a class="btn btn-primary" href="data/zipfile/Videocard.zip" role="button">Graphicard Data</a>
                            </div>
                        </div> -->

<!--                         <div class="page-header float-left">
                            <div class="page-title" style = "position:relative; top:9px; bottom:9px;">
                             <a class="btn btn-primary" href="data/zipfile/Shippingdata.zip" role="button">Shipping Data</a>
                            </div>
                        </div>

                        <div class="page-header float-left">
                            <div class="page-title" style = "position:relative; top:9px; bottom:9px;">
                             <a class="btn btn-primary" href="data/Sports/nike.csv" role="button">Nike Data</a>
                            </div>
                        </div> -->
                    </div>

            </header>

<!--             <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->

        {% block body %}


        {% endblock %}

        <!-- Right Panel -->

        <!-- 畫圖的JS file -->

        <div class="jqvmap-label" style="display: none;"></div>

</body>

</html>
