{% extends 'layout.html' %}
{% block body%}
<div class="content my-3">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- <div class="card" style = "height:140vh"> -->
            <div class="card" style = "height:140vh">
                <div class="card-body">
                    <div class="col-lg-4 col-md-4">
                        <canvas id="polarChart"></canvas>
                    </div>
                    <div class="col-lg-12 col-md-12" style = "height:400px">
                        <canvas id="TomTom_US"></canvas>
                    </div>
                    <div class="col-lg-12 col-md-12" style = "height:400px">
                        <canvas id="TomTom_EU"></canvas>
                    </div>
                    <div class="col-lg-12 col-md-12" style = "height:400px">
                        <canvas id="TomTom_CH"></canvas>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<script src="assets/js/TomTom2.js"></script>

{% endblock %}