{% extends 'layout.html' %}
{% block body%}
<div class="content my-3">
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header bg-dark">
                    <strong class="card-title text-light">資料解釋</strong>

                </div>
                <div class="card-body text-white bg-danger">
                    <p class="card-text text-light">
                        該資料為 TomTom 導航系統公司提供，其資料為最新年度每天的塞車時間與前一年的差距，若數值為-10則表示塞車時間較前一年少10分鐘
                        若數值為10則表示塞車時間較前一年多10分鐘。
                        本數據有經過GDP權重加權，美國與中國的部分使用城市GDP占比，歐洲的部分以國家GDP占比進行數據加權。
                    </p>

                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12">
            <!-- <div class="card" style = "height:140vh"> -->
            <div class="card" >
                <div class="card-body">
 <!--                    <div class="col-lg-4 col-md-4">
                        <canvas id="polarChart"></canvas>
                    </div> -->
                    <!-- <div class="col-lg-12 col-md-12" style = "height:400px"> -->
                    <div class="col-lg-12 col-md-12">
                        <canvas id="RTX-3060"></canvas>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12" style = "height:400px"> -->
                        <div class="col-lg-12 col-md-12">
                        <canvas id="RTX-3080"></canvas>
                    </div>

                </div>
            </div>
        </div> 
    </div>
</div>
<script src="assets/js/TomTom2.js"></script>

{% endblock %}